.input {
  @apply p-2
    bg-accent-900
    border
    border-accent-800
    hover:bg-accent-800
    hover:border-primary-600
    focus:bg-accent-800
    outline-0
    transition-all
    ease-in-out
    duration-300
    rounded-sm
    text-accent-50;
}
